<link href="~/css/bootstrap2.min.css" rel="stylesheet" id="bootstrap-css">
<script type="text/javascript" src="~/js/bootstrap2.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/js/jquery-1.11.1.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav>
    <!-- Menu Toggle btn-->
    <div class="menu-toggle">
        <h3>Menu</h3>
        <button type="button" id="menu-btn">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Responsive Menu Structure-->
    <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
    <ul id="respMenu" class="ace-responsive-menu" data-menu-style="vertical">
        <li>
            <a href="javascript:;">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span class="title">Home</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-cube" aria-hidden="true"></i>
                <span class="title">Sobre nós</span>

            </a>
            <!-- Level Two-->
            <ul>
                <li>
                    <a href="#">Sub Item One</a>
                </li>
                <li>
                    <a href="#">Sub Item Two</a>
                </li>
                <li>
                    <a href="#">Sub Item Three</a>
                </li>
                <li>
                    <a href="#">Sub Item Four</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="">
                <i class="fa fa-crop" aria-hidden="true"></i>
                <span class="title">Cadastro de serviços</span>
            </a>
            <!-- Level Two-->
            <ul>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        Sub Item One
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-database" aria-hidden="true"></i>
                        Sub Item Two
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-amazon" aria-hidden="true"></i>
                        Sub Item Three
                    </a>
                    <!-- Level Three-->
                    <ul>
                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Sub Item Link 1</a></li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-diamond" aria-hidden="true"></i>Sub Item Link 2
                            </a>
                            <!-- Level Four-->
                            <ul>
                                <li><a href="#"><i class="fa fa-trash" aria-hidden="true"></i>Sub Item Link 1</a></li>
                                <li><a href="#"><i class="fa fa-dashcube" aria-hidden="true"></i>Sub Item Link 2</a></li>
                                <li><a href="#"><i class="fa fa-dropbox" aria-hidden="true"></i>Sub Item Link 3</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Sub Item Link 3</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-database" aria-hidden="true"></i>
                        Sub Item Four
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a class="" href="javascript:;">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <span class="title">Serviços</span>

            </a>
            <ul>
                <li>
                    <a href="#">
                        Sub Item One
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        Sub Item Two
                    </a>
                    <ul>
                        <li><a href="#">Sub Item Link 1</a></li>
                        <li><a href="#">Sub Item Link 2</a></li>
                        <li><a href="#">Sub Item Link 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        Sub Item Three
                    </a>
                    <ul>
                        <li><a href="#">Sub Item Link 1</a></li>
                        <li><a href="#">Sub Item Link 1</a></li>
                        <li><a href="#">Sub Item Link 1</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        Sub Item Four
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span class="title">Lista</span>
            </a>
        </li>
        <li class="last ">
            <a href="javascript:;">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span class="title">Contatos</span>
            </a>
        </li>
    </ul>
</nav>
<script type="text/javascript">
    $(document).ready(function () {
        $("#respMenu").aceResponsiveMenu({
            resizeWidth: '768', // Set the same in Media query
            animationSpeed: 'fast', //slow, medium, fast
            accoridonExpAll: false //Expands all the accordion menu on click
        });
    });


</script>
<link href="~/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    section {
        display: inline-block;
    }
</style>

<section>
    <!-- Page content -->
    <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
                <div class="col-md-12">
                    <p class="well lead">Cadastro de Cliente</p>
                    <div class="container">
                        <div class="row">
                            <!-- div da esquerda -->
                            <!-- Text input CNPJ e Razao Social-->
                            <div class="col-sm-8 contact-form">
                                <!-- div da direita -->
                                <form id="contact" method="post" class="form" role="form">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-3 form-group">
                                            <input class="form-control" id="inputCNPJ" name="CNPJ" placeholder="CNPJ" type="text" required autofocus />
                                        </div>
                                        <div class="col-xs-4 col-md-9 form-group">
                                            <input class="form-control" id="inputrazaosocial" name="razaocosial" placeholder="Razão Social" type="text" />
                                        </div>
                                    </div> <!-- fim row -->
                                    <!-- Text input endereco-->
                                    <div class="col-xs-4 col-md-12 form-group">
                                        <div class="controls">
                                            <input class="form-control" id="inputendereco" name="endereco" placeholder="Endereço" type="text">
                                        </div>
                                    </div><!--fim control-group-->
                                    <br> <!--pulando uma linha -->
                                    <!-- Text input cidade e estado-->
                                    <div class="row">
                                        <div class="col-xs-6 col-md-9 form-group">
                                            <input class="form-control" id="inputcidade" name="cidade" placeholder="Cidade" type="text" />
                                        </div>
                                        <div class="col-xs-4 col-md-3 form-group">
                                            <select class="form-control" id="selectbasic" name="selectestado">
                                                <option>Selecione</option>
                                                <option>AC</option>
                                                <option>AL</option>
                                                <option>AP</option>
                                                <option>AM</option>
                                                <option>BA</option>
                                                <option>CE</option>
                                                <option>DF</option>
                                                <option>ES</option>
                                                <option>GO</option>
                                                <option>MA</option>
                                                <option>MT</option>
                                                <option>MS</option>
                                                <option>MG</option>
                                                <option>PA</option>
                                                <option>PB</option>
                                                <option>PR</option>
                                                <option>PE</option>
                                                <option>PI</option>
                                                <option>RJ</option>
                                                <option>RN</option>
                                                <option>RS</option>
                                                <option>RO</option>
                                                <option>RR</option>
                                                <option>SC</option>
                                                <option>SP</option>
                                                <option>SE</option>
                                                <option>TO</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-6 col-md-3 form-group">
                                            <input class="form-control" id="inputtelefone" name="telefone" placeholder="Telefone" type="text" />
                                        </div>
                                        <div class="col-xs-4 col-md-3 form-group">
                                            <input class="form-control" id="inputcontato" name="contato" placeholder="Contato" type="text" />
                                        </div>
                                        <div class="col-xs-4 col-md-6 form-group">
                                            <input class="form-control" id="inputemail" name="email" placeholder="E-mail" type="text" />
                                        </div>
                                    </div><!--fim Text input cidade e estado-->
                                    <div class="col-xs-4 col-md-12 form-group">
                                        <div class="controls">
                                            <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <br />

                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 form-group">
                                            <button class="btn btn-primary pull-right" type="submit">Salvar</button>
                                            <button class="btn btn-primary pull-right" type="submit">Limpar</button>
                                            <!--<button class="btn btn-primary pull-right" type="submit">Enviar</button>-->
                                        </div>
                                    </div>
                                </form>
                            </div> <!-- fim div da direita -->
                        </div> <!-- fim div da esquerda -->
                    </div>
                    <p class="well lead">An Experiment using the sidebar (<a href="http://animeshmanglik.name">animeshmanglik.name</a>)</p>
                </div>
            </div>
        </div>
    </div>
</section>