@model ProjetoTCC.Models.Anamneses

@{
    ViewData["Title"] = "CadastrarAnamneses";
}

<h2>CadastrarAnamneses</h2>

<h4>Anamneses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadastrarAnamneses">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cod_anamneses" class="control-label"></label>
                <input asp-for="cod_anamneses" class="form-control" />
                <span asp-validation-for="cod_anamneses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cod_pac" class="control-label"></label>
                <input asp-for="cod_pac" class="form-control" />
                <span asp-validation-for="cod_pac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_anamneses" class="control-label"></label>
                <input asp-for="data_anamneses" class="form-control" />
                <span asp-validation-for="data_anamneses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="desc_anamneses" class="control-label"></label>
                <input asp-for="desc_anamneses" class="form-control" />
                <span asp-validation-for="desc_anamneses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fatosimpo_anamneses" class="control-label"></label>
                <input asp-for="fatosimpo_anamneses" class="form-control" />
                <span asp-validation-for="fatosimpo_anamneses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cod_med" class="control-label"></label>
                <input asp-for="cod_med" class="form-control" />
                <span asp-validation-for="cod_med" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
