@model ProjetoTCC.Models.Paciente

@{
    ViewData["Title"] = "EditarPaciente";
}

<h2>EditarPaciente</h2>

<h4>Paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarPaciente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="COD_PAC" class="control-label"></label>
                <input asp-for="COD_PAC" class="form-control" />
                <span asp-validation-for="COD_PAC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOME_PAC" class="control-label"></label>
                <input asp-for="NOME_PAC" class="form-control" />
                <span asp-validation-for="NOME_PAC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DATANASC_PAC" class="control-label"></label>
                <input asp-for="DATANASC_PAC" class="form-control" />
                <span asp-validation-for="DATANASC_PAC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SEXO_PAC" class="control-label"></label>
                <input asp-for="SEXO_PAC" class="form-control" />
                <span asp-validation-for="SEXO_PAC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDADE_PAC" class="control-label"></label>
                <input asp-for="IDADE_PAC" class="form-control" />
                <span asp-validation-for="IDADE_PAC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
