@model ProjetoTCC.Models.Pagamento

@{
    ViewData["Title"] = "CadastrarPagamento";
}

<h2>CadastrarPagamento</h2>

<h4>Pagamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadastrarPagamento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cod_pagto" class="control-label"></label>
                <input asp-for="cod_pagto" class="form-control" />
                <span asp-validation-for="cod_pagto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="forma_pgto" class="control-label"></label>
                <input asp-for="forma_pgto" class="form-control" />
                <span asp-validation-for="forma_pgto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipo_pgto" class="control-label"></label>
                <input asp-for="tipo_pgto" class="form-control" />
                <span asp-validation-for="tipo_pgto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipo_cartao" class="control-label"></label>
                <input asp-for="tipo_cartao" class="form-control" />
                <span asp-validation-for="tipo_cartao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="qtd_parcela" class="control-label"></label>
                <input asp-for="qtd_parcela" class="form-control" />
                <span asp-validation-for="qtd_parcela" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label"></label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status_pgto" class="control-label"></label>
                <input asp-for="status_pgto" class="form-control" />
                <span asp-validation-for="status_pgto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="obs_pgto" class="control-label"></label>
                <input asp-for="obs_pgto" class="form-control" />
                <span asp-validation-for="obs_pgto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
