@model ProjetoTCC.Models.Exame

@{
    ViewData["Title"] = "EditarExame";
}

<h2>EditarExame</h2>

<h4>Exame</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarExame">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="COD_EXAME" class="control-label"></label>
                <input asp-for="COD_EXAME" class="form-control" />
                <span asp-validation-for="COD_EXAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="COD_PAC" class="control-label"></label>
                <input asp-for="COD_PAC" class="form-control" />
                <span asp-validation-for="COD_PAC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOME_EXAME" class="control-label"></label>
                <input asp-for="NOME_EXAME" class="form-control" />
                <span asp-validation-for="NOME_EXAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DATA_EXAME" class="control-label"></label>
                <input asp-for="DATA_EXAME" class="form-control" />
                <span asp-validation-for="DATA_EXAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOME_LAB" class="control-label"></label>
                <input asp-for="NOME_LAB" class="form-control" />
                <span asp-validation-for="NOME_LAB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HORA_EXAME" class="control-label"></label>
                <input asp-for="HORA_EXAME" class="form-control" />
                <span asp-validation-for="HORA_EXAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="COD_MED" class="control-label"></label>
                <input asp-for="COD_MED" class="form-control" />
                <span asp-validation-for="COD_MED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OBS_EXAME" class="control-label"></label>
                <input asp-for="OBS_EXAME" class="form-control" />
                <span asp-validation-for="OBS_EXAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
