@model ProjetoTCC.Models.Medico

@{
    ViewData["Title"] = "CadastrarMedico";
}


<hr />
<div class="row">
    <div class="col-md-4">

        <form action="/action_page.php" class="col-xs-12 col-sm-12 col-md-12">
            <h2>Preencha os campos abaixo</h2>
            @*<div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Enter Name *" name="name" required>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="surname" placeholder="Enter Second Name *" name="secondName" required>
            </div>

            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Enter email *" name="email" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="pwd" placeholder="Enter password *" name="pwd" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="pwd" placeholder="Repeat password *" name="Rptpwd" required>
            </div>
            *@
            
        </form>




        <form asp-action="CadastrarMedico">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="COD_MED" class="control-label"></label>
                <input asp-for="COD_MED" class="form-control" />
                <span asp-validation-for="COD_MED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOME_MED" class="control-label"></label>
                <input asp-for="NOME_MED" class="form-control" />
                <span asp-validation-for="NOME_MED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEL_MED" class="control-label"></label>
                <input asp-for="TEL_MED" class="form-control" />
                <span asp-validation-for="TEL_MED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEL_MED" class="control-label"></label>
                <input asp-for="CEL_MED" class="form-control" />
                <span asp-validation-for="CEL_MED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMAIL_MED" class="control-label"></label>
                <input asp-for="EMAIL_MED" class="form-control" />
                <span asp-validation-for="EMAIL_MED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF_MED" class="control-label"></label>
                <input asp-for="CPF_MED" class="form-control" />
                <span asp-validation-for="CPF_MED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CRM" class="control-label"></label>
                <input asp-for="CRM" class="form-control" />
                <span asp-validation-for="CRM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VALIDADE_CRM" class="control-label"></label>
                <input asp-for="VALIDADE_CRM" type="date" class="form-control" />
                <span asp-validation-for="VALIDADE_CRM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SEXO_MED" class="control-label"></label>
                @{
                    ViewBag.Title = "Título";
                    List<SelectListItem> l1 = new List<SelectListItem>();
                    l1.Add(new SelectListItem() { Text = "M", Value = "M" });
                    l1.Add(new SelectListItem() { Text = "F", Value = "F" });
                }

                @Html.DropDownList("SEXO_MED", l1, "Selecione")
            </div>
            <div class="form-group">
                <label asp-for="COD_ESPEC" class="control-label"></label>
                @{
                    ViewBag.Title = "Título";
                    List<SelectListItem> l2 = new List<SelectListItem>();
                    l2.Add(new SelectListItem() { Text = "Psicólogo", Value = "1" });
                    l2.Add(new SelectListItem() { Text = "Clínico Geral", Value = "2" });
                }

                @Html.DropDownList("COD_ESPEC", l2, "Selecione")
            </div>
            <div class="form-group">
                <label asp-for="COD_CARGO" class="control-label"></label>
                @{
                    ViewBag.Title = "Título";
                    List<SelectListItem> l3 = new List<SelectListItem>();
                    l3.Add(new SelectListItem() { Text = "Médico", Value = "1" });
                    l3.Add(new SelectListItem() { Text = "Funcionário", Value = "2" });
                }

                @Html.DropDownList("COD_CARGO", l3, "Selecione")
            </div>

            <div class="checkbox">
                <label><input type="checkbox" name="remember"> <span>Lembrar-me</span></label>
            </div>
            <button type="submit" class="btn btn-success">Cadastrar <i class="glyphicon glyphicon-send"></i></button>

        </form>
    </div>
</div>

<div>
    <a asp-action="ListaMedico">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}