/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-control {
    border: none;
    border-bottom: 3px solid dodgerblue;
    background: white;
    color: black;
    border-radius: 0px;
}

.row {
    width: 60%;
    margin-top: 50px;
    border: 3px solid orange;
    border-radius: 14px;
    height: auto;
}

form h2 {
    color: black;
}

.checkbox span {
    color: black;
}

.checkbox {
    float: left;
}

button {
    float: right;
    width: 120px;
}

@media(max-width:768px) {
    body {
        font-size: 10px;
    }

    h2 {
        font-size: 15px;
    }

    input[type=text] {
        font-size: 13px;
    }

    input[type=password] {
        font-size: 13px;
    }

    input[type=email] {
        font-size: 13px;
    }

    button {
        width: 80px;
        height: 30px;
        float: right;
        font-size: 10px;
        margin-bottom: 10px;
    }

    .checkbox {
        display: inline;
    }
}