@model ProjetoTCC.Models.Responsavel

@{
    ViewData["Title"] = "CadastrarResponsavel";
}

<h2>CadastrarResponsavel</h2>

<h4>Responsavel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadastrarResponsavel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="COD_RESP" class="control-label"></label>
                <input asp-for="COD_RESP" class="form-control" />
                <span asp-validation-for="COD_RESP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOME_RESP" class="control-label"></label>
                <input asp-for="NOME_RESP" class="form-control" />
                <span asp-validation-for="NOME_RESP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RESP_DOIS" class="control-label"></label>
                <input asp-for="RESP_DOIS" class="form-control" />
                <span asp-validation-for="RESP_DOIS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="COD_END" class="control-label"></label>
                <input asp-for="COD_END" class="form-control" />
                <span asp-validation-for="COD_END" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEL_RESP" class="control-label"></label>
                <input asp-for="TEL_RESP" class="form-control" />
                <span asp-validation-for="TEL_RESP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEL_DOIS" class="control-label"></label>
                <input asp-for="TEL_DOIS" class="form-control" />
                <span asp-validation-for="TEL_DOIS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEL_RESP" class="control-label"></label>
                <input asp-for="CEL_RESP" class="form-control" />
                <span asp-validation-for="CEL_RESP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMAIL_RESP" class="control-label"></label>
                <input asp-for="EMAIL_RESP" class="form-control" />
                <span asp-validation-for="EMAIL_RESP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF_RESP" class="control-label"></label>
                <input asp-for="CPF_RESP" class="form-control" />
                <span asp-validation-for="CPF_RESP" class="text-danger"></span>
            </div>
            <div>
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "AtlantaPort",
                        Value = "AtlantaPort"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "NewJersyTerminal",
                        Value = "NewJersyTerminal",
                        Selected = true
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "AWS",
                        Value = "AWS"
                    });
                }

                @Html.DropDownList("yourDropName", listItems, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
